version: '3.7'

services: 
    web:
        build: .
        command: python manage.py runserver 0.0.0.0:8000

        environment: 
            - SECRET_KEY=c#oa=q3hf^s-0-4i@w6=6ndy(^=2cth09s#5yz)w8s65e=x3!g
            - DEBUG=1
            - ENVIRONMENT=development

        volumes: 
            - .:/code
        
        ports: 
            - "8000:8000"

        depends_on: 
            - db

    db:
        image: postgres

        environment: 
            - POSTGRES_DB=postgres
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres

        ports: 
            - "5432:5432"

        volumes: 
            - postgres_data:/var/lib/postgresql/data

volumes: 
    postgres_data:

